.date_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-date-range-input {
  border: 0px solid #fff;
  border-radius: 0px;
  padding: 0%;
}
.set-width {
  width : 100%;
}
